backend/stepfunctions/backup-server.asl.json
{
  "Comment": "Check EC2 instance online, backup save with backup_server.sh and upload to S3 with backupBucketName parameter",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Result": {
        "backupCheck": {
          "val": 0
        }
      },
      "ResultPath": "$.meta",
      "Next": "DescribeSSM"
    },
    "DescribeSSMFail": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Could not get ssm status"
      },
      "Next": "WriteToServerDDB"
    },
    "InvalidSSMStatus": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message.$": "States.Format('Invalid ssm status: {}', $.ssm.InstanceInformationList[0].PingStatus)"
      },
      "Next": "WriteToServerDDB"
    },
    "BackupFailed": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Failed to backup server"
      },
      "Next": "WriteToServerDDB"
    },
    "FailBackupTimeout": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Timeout waiting for backup to complete"
      },
      "Next": "WriteToServerDDB"
    },
    "Success": {
      "Type": "Pass",
      "Assign": {
        "status": "success",
        "message": "Backup server success"
      },
      "Next": "WriteToServerDDB"
    },
    "WriteToServerDDB": {
      "QueryLanguage": "JSONata",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $states.input.serverTable %}",
        "Key": {
          "name": {
            "S": "{% $states.input.serverName %}"
          }
        },
        "UpdateExpression": "SET #w = :workflowObj",
        "ExpressionAttributeNames": {
          "#w": "workflow"
        },
        "ExpressionAttributeValues": {
          ":workflowObj": {
            "M": {
              "currentTask": {
                "S": "backup"
              },
              "executionId": {
                "S": "{% $states.context.Execution.Id %}"
              },
              "status": {
                "S": "{% $status %}"
              },
              "message": "{% $message ? { 'S': $message } : null %}",
              "lastUpdated": {
                "S": "{% $states.context.State.EnteredTime %}"
              }
            }
          }
        }
      },
      "Output": "{% $states.input %}",
      "Next": "RemoveLock"
    },
    "RemoveLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName.$": "$.workflowTable",
        "Key": {
          "resourceId": {
            "S.$": "$.instanceId"
          }
        }
      },
      "End": true
    },
    "DescribeSSM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "States.Array($.instanceId)"
          }
        ]
      },
      "ResultPath": "$.ssm",
      "Next": "IsSSMOnline"
    },
    "IsSSMOnline": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ssm.InstanceInformationList",
              "IsPresent": false
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0]",
              "IsPresent": false
            }
          ],
          "Next": "DescribeSSMFail"
        },
        {
          "Variable": "$.ssm.InstanceInformationList[0].PingStatus",
          "StringEquals": "Online",
          "Next": "CreateBackup"
        }
      ],
      "Default": "InvalidSSMStatus"
    },
    "CreateBackup": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands.$": "States.Array(States.Format('/opt/gnaws/entrypoints/backup_server.sh {}', States.Format('{}/{}', $.backupBucketName, $.serverName)))"
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitForCommand"
    },
    "WaitForCommand": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetCommandResult"
    },
    "GetCommandResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.command.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "ResultPath": "$.commandResult",
      "Next": "IncrementBackupCheck"
    },
    "IncrementBackupCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.backupCheck.val, 1)"
      },
      "ResultPath": "$.meta.backupCheck",
      "Next": "CheckBackupStatus"
    },
    "CheckBackupStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.commandResult.Status",
          "StringMatches": "Failed",
          "Next": "BackupFailed"
        },
        {
          "Variable": "$.commandResult.Status",
          "StringMatches": "Success",
          "Next": "Success"
        },
        {
          "Variable": "$.meta.backupCheck.val",
          "NumericGreaterThanEquals": 60,
          "Next": "FailBackupTimeout"
        }
      ],
      "Default": "WaitForCommand"
    }
  }
}
