backend/stepfunctions/setup-game-server.asl.json
{
  "Comment": "Wait 20 for SSM online, download game server script, setup game server, wait 20 minutes for setup, wait 20 minutes for server online",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Result": {
        "ssmChecks": {
          "val": 0
        },
        "setupChecks": {
          "val": 0
        },
        "gameServerChecks": {
          "val": 0
        }
      },
      "ResultPath": "$.meta",
      "Next": "DescribeSSM"
    },
    "FailSSMTimeout": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Timeout waiting for SSM online"
      },
      "Next": "WriteToServerDDB"
    },
    "FailSetupTimeout": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Timeout waiting setup to complete"
      },
      "Next": "WriteToServerDDB"
    },
    "FailSetup": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Game server setup failed"
      },
      "Next": "WriteToServerDDB"
    },
    "InvalidSetupCommandStatus": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message.$": "States.Format('Invalid setup command status: {}', $.commandResult.Status)"
      },
      "Next": "WriteToServerDDB"
    },
    "FailGameServerTimeout": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Setup complete but timeout waiting for server to start"
      },
      "Next": "WriteToServerDDB"
    },
    "Success": {
      "Type": "Pass",
      "Assign": {
        "status": "success",
        "message": "Setup game server successfully and server running"
      },
      "Next": "WriteToServerDDB"
    },
    "WriteToServerDDB": {
      "QueryLanguage": "JSONata",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $states.input.serverTable %}",
        "Key": {
          "name": {
            "S": "{% $states.input.serverName %}"
          }
        },
        "UpdateExpression": "SET #w = :workflowObj",
        "ExpressionAttributeNames": {
          "#w": "workflow"
        },
        "ExpressionAttributeValues": {
          ":workflowObj": {
            "M": {
              "currentTask": {
                "S": "setup"
              },
              "executionId": {
                "S": "{% $states.context.Execution.Id %}"
              },
              "status": {
                "S": "{% $status %}"
              },
              "message": "{% $message ? { 'S': $message } : null %}",
              "lastUpdated": {
                "S": "{% $states.context.State.EnteredTime %}"
              }
            }
          }
        }
      },
      "Output": "{% $states.input %}",
      "Next": "RemoveLock"
    },
    "RemoveLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName.$": "$.workflowTable",
        "Key": {
          "resourceId": {
            "S.$": "$.instanceId"
          }
        }
      },
      "End": true
    },
    "DescribeSSM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "States.Array($.instanceId)"
          }
        ]
      },
      "ResultPath": "$.ssm",
      "Next": "IncrementSSMCheck"
    },
    "IncrementSSMCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.ssmChecks.val, 1)"
      },
      "ResultPath": "$.meta.ssmChecks",
      "Next": "IsSSMOnline"
    },
    "IsSSMOnline": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ssm.InstanceInformationList",
              "IsPresent": true
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0]",
              "IsPresent": true
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0].PingStatus",
              "StringEquals": "Online"
            }
          ],
          "Next": "SetupGameServer"
        },
        {
          "Variable": "$.meta.ssmChecks.val",
          "NumericGreaterThanEquals": 20,
          "Next": "FailSSMTimeout"
        }
      ],
      "Default": "WaitBeforeRetrySSM"
    },
    "WaitBeforeRetrySSM": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "DescribeSSM"
    },
    "SetupGameServer": {
      "QueryLanguage": "JSONata",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Arguments": {
        "InstanceIds": "{% [$states.input.instanceId] %}",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": "{% ['set -eu && mkdir -p /opt && rm -rf /opt/gnaws && curl -fL -o /opt/game_server.tar.gz https://github.com/pochusuwan/Gnaws/releases/' & ($states.input.versionOverride ? ('download/' & $states.input.versionOverride) : 'latest/download') & '/game_server.tar.gz && tar -xzf /opt/game_server.tar.gz -C /opt && mv /opt/game_server /opt/gnaws && /opt/gnaws/entrypoints/bootstrap.sh ' & $states.input.gameId] %}"
        }
      },
      "Output": "{% $merge([$states.input, $states.result]) %}",
      "Next": "WaitForSetupCommand"
    },
    "WaitForSetupCommand": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "GetSetupCommandResult"
    },
    "GetSetupCommandResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "ResultPath": "$.commandResult",
      "Next": "IncrementSetupCheck"
    },
    "IncrementSetupCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.setupChecks.val, 1)"
      },
      "ResultPath": "$.meta.setupChecks",
      "Next": "CheckSetupOutput"
    },
    "CheckSetupOutput": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.commandResult.Status",
          "StringEquals": "Success",
          "Next": "StartGameServer"
        },
        {
          "Variable": "$.commandResult.Status",
          "StringEquals": "Failed",
          "Next": "FailSetup"
        },
        {
          "Variable": "$.meta.setupChecks.val",
          "NumericGreaterThanEquals": 40,
          "Next": "FailSetupTimeout"
        },
        {
          "Or": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Pending"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "InProgress"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Delayed"
            }
          ],
          "Next": "WaitForSetupCommand"
        }
      ],
      "Default": "InvalidSetupCommandStatus"
    },
    "StartGameServer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/gnaws/entrypoints/start_server.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitGameServerOnline"
    },
    "WaitGameServerOnline": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckGameServerStatus"
    },
    "CheckGameServerStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/gnaws/entrypoints/server_status.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "IncrementGameServerCheck"
    },
    "IncrementGameServerCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.gameServerChecks.val, 1)"
      },
      "ResultPath": "$.meta.gameServerChecks",
      "Next": "WaitForStartCommand"
    },
    "WaitForStartCommand": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetStartCommandResult"
    },
    "GetStartCommandResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.command.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "Assign": {
        "serverStatus.$": "States.StringToJson($.StandardOutputContent)"
      },
      "ResultPath": "$.commandResult",
      "Next": "CheckGameServerOutput"
    },
    "CheckGameServerOutput": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$serverStatus.is_online",
              "BooleanEquals": true
            }
          ],
          "Next": "Success"
        },
        {
          "Variable": "$.meta.gameServerChecks.val",
          "NumericGreaterThanEquals": 40,
          "Next": "FailGameServerTimeout"
        },
        {
          "Or": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Cancelled"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "TimedOut"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Failed"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Cancelling"
            }
          ],
          "Next": "WaitGameServerOnline"
        },
        {
          "Variable": "$.commandResult.Status",
          "StringEquals": "Success",
          "Next": "WaitGameServerOnline"
        }
      ],
      "Default": "WaitForStartCommandLong"
    },
    "WaitForStartCommandLong": {
      "Type": "Wait",
      "Seconds": 25,
      "Next": "IncrementGameServerCheck"
    }
  }
}
