backend/stepfunctions/start-game-server.asl.json
{
  "Comment": "Start EC2 instance, check game server is not online with is_online.sh, then start game server with start_server.sh",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Result": {
        "ssmChecks": {
          "val": 0
        },
        "ec2Checks": {
          "val": 0
        },
        "gameServerChecks": {
          "val": 0
        },
        "startGameServerCommandSent": {
          "val": false
        }
      },
      "ResultPath": "$.meta",
      "Next": "DescribeEC2"
    },
    "DescribeEC2Fail": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "start"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S": "Could not get EC2 state"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "InvalidEC2State": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "start"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S.$": "States.Format('Invalid ec2 state: {}', $.ec2.Reservations[0].Instances[0].State.Name)"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "FailEC2Timeout": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "start"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S": "Timeout waiting for instance running"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "FailSSMTimeout": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "start"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S": "Timeout waiting for SSM online"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "FailGameServerTimeout": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "start"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S": "Timeout waiting for server to start"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "Success": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "start"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "success"
        },
        "message": {
          "S": "Started game server"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "WriteToServerDDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Parameters": {
        "TableName.$": "$.serverTable",
        "Key": {
          "name": {
            "S.$": "$.serverName"
          }
        },
        "UpdateExpression": "SET #w = :workflowObj",
        "ExpressionAttributeNames": {
          "#w": "workflow"
        },
        "ExpressionAttributeValues": {
          ":workflowObj": {
            "M.$": "$.workflowObj.val"
          }
        }
      },
      "ResultPath": "$.updateServer",
      "Next": "RemoveLock"
    },
    "RemoveLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName.$": "$.workflowTable",
        "Key": {
          "resourceId": {
            "S.$": "$.instanceId"
          }
        }
      },
      "End": true
    },
    "DescribeEC2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "IncrementEC2Check"
    },
    "IncrementEC2Check": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.ec2Checks.val, 1)"
      },
      "ResultPath": "$.meta.ec2Checks",
      "Next": "IsInstanceRunning"
    },
    "IsInstanceRunning": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ec2.Reservations",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0]",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances[0]",
              "IsPresent": false
            }
          ],
          "Next": "DescribeEC2Fail"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "stopped",
          "Next": "StartInstances"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "pending",
          "Next": "WaitForEC2Running"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "running",
          "Next": "DescribeEC2SSM"
        },
        {
          "Variable": "$.meta.ec2Checks.val",
          "NumericGreaterThanEquals": 30,
          "Next": "FailEC2Timeout"
        }
      ],
      "Default": "InvalidEC2State"
    },
    "StartInstances": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "WaitForEC2Running"
    },
    "WaitForEC2Running": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "DescribeEC2"
    },
    "DescribeEC2SSM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "States.Array($.instanceId)"
          }
        ]
      },
      "ResultPath": "$.ssm",
      "Next": "IncrementSSMCheck"
    },
    "IncrementSSMCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.ssmChecks.val, 1)"
      },
      "ResultPath": "$.meta.ssmChecks",
      "Next": "IsSSMOnline"
    },
    "IsSSMOnline": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ssm.InstanceInformationList",
              "IsPresent": false
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0]",
              "IsPresent": false
            }
          ],
          "Next": "WaitBeforeRetrySSM"
        },
        {
          "Variable": "$.ssm.InstanceInformationList[0].PingStatus",
          "StringEquals": "Online",
          "Next": "CheckGameServerStatus"
        },
        {
          "Variable": "$.meta.ssmChecks.val",
          "NumericGreaterThanEquals": 10,
          "Next": "FailSSMTimeout"
        }
      ],
      "Default": "WaitBeforeRetrySSM"
    },
    "WaitBeforeRetrySSM": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "DescribeEC2SSM"
    },
    "CheckGameServerStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/gnaws/scripts/is_online.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitForCommand"
    },
    "WaitForCommand": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "GetCommandResult"
    },
    "GetCommandResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.command.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "ResultPath": "$.commandResult",
      "Next": "IncrementGameServerCheck"
    },
    "IncrementGameServerCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.gameServerChecks.val, 1)"
      },
      "ResultPath": "$.meta.gameServerChecks",
      "Next": "CheckGameServerOutput"
    },
    "CheckGameServerOutput": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.commandResult.StandardOutputContent",
          "StringEquals": "online\n",
          "Next": "Success"
        },
        {
          "And": [
            {
              "Variable": "$.commandResult.StandardOutputContent",
              "StringEquals": "offline\n"
            },
            {
              "Variable": "$.meta.startGameServerCommandSent.val",
              "BooleanEquals": false
            }
          ],
          "Next": "StartGameServer"
        },
        {
          "Variable": "$.meta.gameServerChecks.val",
          "NumericGreaterThanEquals": 40,
          "Next": "FailGameServerTimeout"
        }
      ],
      "Default": "WaitGameServerOnline"
    },
    "StartGameServer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "sudo -u gnaws-user /opt/gnaws/scripts/start_server.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "SetGameServerStartSent"
    },
    "SetGameServerStartSent": {
      "Type": "Pass",
      "Parameters": {
        "val": true
      },
      "ResultPath": "$.meta.startGameServerCommandSent",
      "Next": "WaitGameServerOnline"
    },
    "WaitGameServerOnline": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckGameServerStatus"
    }
  }
}
