backend/stepfunctions/start-game-server.asl.json
{
  "Comment": "Start EC2 instance, wait 15 minutes for online, start game server with start_server.sh, then wait up to 20 for game server online.",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Result": {
        "ssmChecks": {
          "val": 0
        },
        "gameServerChecks": {
          "val": 0
        }
      },
      "ResultPath": "$.meta",
      "Next": "DescribeEC2"
    },
    "DescribeEC2Fail": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Could not get EC2 state"
      },
      "Next": "WriteToServerDDB"
    },
    "InvalidEC2State": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message.$": "States.Format('Invalid ec2 state: {}', $.ec2.Reservations[0].Instances[0].State.Name)"
      },
      "Next": "WriteToServerDDB"
    },
    "FailSSMTimeout": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Timeout waiting for SSM online"
      },
      "Next": "WriteToServerDDB"
    },
    "FailGameServerTimeout": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Timeout waiting for server to start"
      },
      "Next": "WriteToServerDDB"
    },
    "Success": {
      "Type": "Pass",
      "Assign": {
        "status": "success",
        "message": "Started game server"
      },
      "Next": "WriteToServerDDB"
    },
    "WriteToServerDDB": {
      "QueryLanguage": "JSONata",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $states.input.serverTable %}",
        "Key": {
          "name": {
            "S": "{% $states.input.serverName %}"
          }
        },
        "UpdateExpression": "SET #w = :workflowObj",
        "ExpressionAttributeNames": {
          "#w": "workflow"
        },
        "ExpressionAttributeValues": {
          ":workflowObj": {
            "M": {
              "currentTask": {
                "S": "start"
              },
              "executionId": {
                "S": "{% $states.context.Execution.Id %}"
              },
              "status": {
                "S": "{% $status %}"
              },
              "message": "{% $message ? { 'S': $message } : null %}",
              "lastUpdated": {
                "S": "{% $states.context.State.EnteredTime %}"
              }
            }
          }
        }
      },
      "Output": "{% $states.input %}",
      "Next": "RemoveLock"
    },
    "RemoveLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName.$": "$.workflowTable",
        "Key": {
          "resourceId": {
            "S.$": "$.instanceId"
          }
        }
      },
      "End": true
    },
    "DescribeEC2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "IsInstanceRunning"
    },
    "IsInstanceRunning": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ec2.Reservations",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0]",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances[0]",
              "IsPresent": false
            }
          ],
          "Next": "DescribeEC2Fail"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "stopped",
          "Next": "StartInstances"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "running",
          "Next": "DescribeEC2SSM"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "pending",
          "Next": "WaitForEC2Running"
        }
      ],
      "Default": "InvalidEC2State"
    },
    "StartInstances": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "WaitForEC2Running"
    },
    "WaitForEC2Running": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "DescribeEC2SSM"
    },
    "DescribeEC2SSM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "States.Array($.instanceId)"
          }
        ]
      },
      "ResultPath": "$.ssm",
      "Next": "IncrementSSMCheck"
    },
    "IncrementSSMCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.ssmChecks.val, 1)"
      },
      "ResultPath": "$.meta.ssmChecks",
      "Next": "IsSSMOnline"
    },
    "IsSSMOnline": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.ssm.InstanceInformationList",
              "IsPresent": true
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0]",
              "IsPresent": true
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0].PingStatus",
              "StringEquals": "Online"
            }
          ],
          "Next": "StartGameServer"
        },
        {
          "Variable": "$.meta.ssmChecks.val",
          "NumericGreaterThanEquals": 15,
          "Next": "FailSSMTimeout"
        }
      ],
      "Default": "WaitForEC2Running"
    },
    "StartGameServer": {
      "QueryLanguage": "JSONata",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Arguments": {
        "InstanceIds": "{% [$states.input.instanceId] %}",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": "{% ['/opt/gnaws/entrypoints/start_server.sh ' & ($states.input.gameConfig ? ('--gameConfig ' & $states.input.gameConfig) : '')] %}"
        }
      },
      "Output": "{% $merge([$states.input, $states.result]) %}",
      "Next": "WaitGameServerOnline"
    },
    "WaitGameServerOnline": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckGameServerStatus"
    },
    "CheckGameServerStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/gnaws/entrypoints/server_status.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitForCommand"
    },
    "WaitForCommand": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetCommandResult"
    },
    "WaitForCommandLong": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "GetCommandResult"
    },
    "GetCommandResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.command.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "Assign": {
        "serverStatus.$": "States.StringToJson($.StandardOutputContent)"
      },
      "ResultPath": "$.commandResult",
      "Next": "IncrementGameServerCheck"
    },
    "IncrementGameServerCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.gameServerChecks.val, 1)"
      },
      "ResultPath": "$.meta.gameServerChecks",
      "Next": "CheckGameServerOutput"
    },
    "CheckGameServerOutput": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$serverStatus.is_online",
              "BooleanEquals": true
            }
          ],
          "Next": "Success"
        },
        {
          "Variable": "$.meta.gameServerChecks.val",
          "NumericGreaterThanEquals": 40,
          "Next": "FailGameServerTimeout"
        },
        {
          "Or": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Pending"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "InProgress"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Delayed"
            }
          ],
          "Next": "WaitForCommandLong"
        }
      ],
      "Default": "WaitGameServerOnline"
    }
  }
}
