backend/stepfunctions/stop-game-server.asl.json
{
  "Comment": "Stop game server with stop_server.sh, backup server if requested, then stop EC2 instance",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Result": {
        "gameServerChecks": {
          "val": 0
        },
        "backupCheck": {
          "val": 0
        }
      },
      "ResultPath": "$.meta",
      "Next": "DescribeEC2"
    },
    "DescribeEC2Fail": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Could not get EC2 state"
      },
      "Next": "WriteToServerDDB"
    },
    "InvalidEC2State": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message.$": "States.Format('Invalid ec2 state: {}', $.ec2.Reservations[0].Instances[0].State.Name)"
      },
      "Next": "WriteToServerDDB"
    },
    "DescribeSSMFail": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Could not get ssm status"
      },
      "Next": "WriteToServerDDB"
    },
    "InvalidSSMStatus": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message.$": "States.Format('Invalid ssm status: {}', $.ssm.InstanceInformationList[0].PingStatus)"
      },
      "Next": "WriteToServerDDB"
    },
    "FailGameServerTimeout": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Timeout waiting for game server to stop"
      },
      "Next": "WriteToServerDDB"
    },
    "Success": {
      "Type": "Pass",
      "Assign": {
        "status": "failed",
        "message": "Stopped game server"
      },
      "Next": "WriteToServerDDB"
    },
    "WriteToServerDDB": {
      "QueryLanguage": "JSONata",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $states.input.serverTable %}",
        "Key": {
          "name": {
            "S": "{% $states.input.serverName %}"
          }
        },
        "UpdateExpression": "SET #w = :workflowObj",
        "ExpressionAttributeNames": {
          "#w": "workflow"
        },
        "ExpressionAttributeValues": {
          ":workflowObj": {
            "M": {
              "currentTask": {
                "S": "stop"
              },
              "executionId": {
                "S": "{% $states.context.Execution.Id %}"
              },
              "status": {
                "S": "{% $status %}"
              },
              "message": "{% $message ? { 'S': $message } : null %}",
              "lastUpdated": {
                "S": "{% $states.context.State.EnteredTime %}"
              }
            }
          }
        }
      },
      "Output": "{% $states.input %}",
      "Next": "RemoveLock"
    },
    "RemoveLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName.$": "$.workflowTable",
        "Key": {
          "resourceId": {
            "S.$": "$.instanceId"
          }
        }
      },
      "ResultPath": "$.removeLock",
      "End": true
    },
    "DescribeEC2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "IsInstanceRunning"
    },
    "IsInstanceRunning": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ec2.Reservations",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0]",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances[0]",
              "IsPresent": false
            }
          ],
          "Next": "DescribeEC2Fail"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "running",
          "Next": "DescribeSSM"
        }
      ],
      "Default": "InvalidEC2State"
    },
    "DescribeSSM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "States.Array($.instanceId)"
          }
        ]
      },
      "ResultPath": "$.ssm",
      "Next": "IsSSMOnline"
    },
    "IsSSMOnline": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ssm.InstanceInformationList",
              "IsPresent": false
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0]",
              "IsPresent": false
            }
          ],
          "Next": "DescribeSSMFail"
        },
        {
          "Variable": "$.ssm.InstanceInformationList[0].PingStatus",
          "StringEquals": "Online",
          "Next": "StopGameServer"
        }
      ],
      "Default": "InvalidSSMStatus"
    },
    "StopGameServer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/gnaws/entrypoints/stop_server.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitGameServerOffline"
    },
    "WaitGameServerOffline": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckGameServerStatus"
    },
    "CheckGameServerStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/gnaws/entrypoints/server_status.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitForCommand"
    },
    "WaitForCommand": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "GetCommandResult"
    },
    "WaitForCommandLong": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "GetCommandResult"
    },
    "GetCommandResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.command.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "Assign": {
        "serverStatus.$": "States.StringToJson($.StandardOutputContent)"
      },
      "ResultPath": "$.commandResult",
      "Next": "IncrementGameServerCheck"
    },
    "IncrementGameServerCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.gameServerChecks.val, 1)"
      },
      "ResultPath": "$.meta.gameServerChecks",
      "Next": "CheckGameServerOutput"
    },
    "CheckGameServerOutput": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$serverStatus.is_running",
              "BooleanEquals": false
            },
            {
              "Variable": "$.shouldBackup",
              "IsPresent": true
            },
            {
              "Variable": "$.shouldBackup",
              "BooleanEquals": true
            }
          ],
          "Next": "BackupServer"
        },
        {
          "And": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Success"
            },
            {
              "Variable": "$serverStatus.is_running",
              "BooleanEquals": false
            }
          ],
          "Next": "StopInstance"
        },
        {
          "Variable": "$.meta.gameServerChecks.val",
          "NumericGreaterThanEquals": 20,
          "Next": "FailGameServerTimeout"
        },
        {
          "Or": [
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Pending"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "InProgress"
            },
            {
              "Variable": "$.commandResult.Status",
              "StringEquals": "Delayed"
            }
          ],
          "Next": "WaitForCommandLong"
        }
      ],
      "Default": "WaitGameServerOffline"
    },
    "BackupServer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands.$": "States.Array(States.Format('/opt/gnaws/entrypoints/backup_server.sh {}', States.Format('{}/{}', $.backupBucketName, $.serverName)))"
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitForBackup"
    },
    "WaitForBackup": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "GetBackupResult"
    },
    "GetBackupResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.command.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "ResultPath": "$.commandResult",
      "Next": "IncrementBackupCheck"
    },
    "IncrementBackupCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.backupCheck.val, 1)"
      },
      "ResultPath": "$.meta.backupCheck",
      "Next": "CheckBackupStatus"
    },
    "CheckBackupStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.commandResult.Status",
          "StringMatches": "Failed",
          "Next": "StopInstance"
        },
        {
          "Variable": "$.commandResult.StandardOutputContent",
          "StringMatches": "*Success\n",
          "Next": "StopInstance"
        },
        {
          "Variable": "$.meta.backupCheck.val",
          "NumericGreaterThanEquals": 60,
          "Next": "StopInstance"
        }
      ],
      "Default": "WaitForBackup"
    },
    "StopInstance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:stopInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "Success"
    }
  }
}