backend/stepfunctions/stop-game-server.asl.json
{
  "Comment": "Stop game server with /opt/stop_server.sh then stop EC2 instance",
  "StartAt": "Init",
  "States": {
    "Init": {
      "Type": "Pass",
      "Result": {
        "stopGameServerCommandSent": {
          "val": false
        },
        "gameServerChecks": {
          "val": 0
        }
      },
      "ResultPath": "$.meta",
      "Next": "DescribeEC2"
    },
    "DescribeEC2Fail": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "stop"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S": "Could not get EC2 state"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "InvalidEC2State": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "stop"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S.$": "States.Format('Invalid ec2 state: {}', $.ec2.Reservations[0].Instances[0].State.Name)"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "DescribeSSMFail": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "stop"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S": "Could not get ssm status"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "InvalidSSMStatus": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "stop"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S.$": "States.Format('Invalid ssm status: {}', $.ssm.InstanceInformationList[0].PingStatus)"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "FailGameServerTimeout": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "stop"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "failed"
        },
        "message": {
          "S": "Game server did not stop in time"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "Success": {
      "Type": "Pass",
      "Parameters": {
        "currentTask": {
          "S": "stop"
        },
        "executionId": {
          "S.$": "$$.Execution.Id"
        },
        "lastUpdated": {
          "S.$": "$$.State.EnteredTime"
        },
        "status": {
          "S": "success"
        },
        "message": {
          "S": "Stopped game server"
        }
      },
      "ResultPath": "$.workflowObj.val",
      "Next": "WriteToServerDDB"
    },
    "WriteToServerDDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Parameters": {
        "TableName.$": "$.serverTable",
        "Key": {
          "name": {
            "S.$": "$.serverName"
          }
        },
        "UpdateExpression": "SET #w = :workflowObj",
        "ExpressionAttributeNames": {
          "#w": "workflow"
        },
        "ExpressionAttributeValues": {
          ":workflowObj": {
            "M.$": "$.workflowObj.val"
          }
        }
      },
      "ResultPath": "$.updateServer",
      "Next": "RemoveLock"
    },
    "RemoveLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName.$": "$.workflowTable",
        "Key": {
          "resourceId": {
            "S.$": "$.instanceId"
          }
        }
      },
      "ResultPath": "$.removeLock",
      "End": true
    },
    "DescribeEC2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "IsInstanceRunning"
    },
    "IsInstanceRunning": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ec2.Reservations",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0]",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances",
              "IsPresent": false
            },
            {
              "Variable": "$.ec2.Reservations[0].Instances[0]",
              "IsPresent": false
            }
          ],
          "Next": "DescribeEC2Fail"
        },
        {
          "Variable": "$.ec2.Reservations[0].Instances[0].State.Name",
          "StringEquals": "running",
          "Next": "DescribeSSM"
        }
      ],
      "Default": "InvalidEC2State"
    },
    "DescribeSSM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:describeInstanceInformation",
      "Parameters": {
        "Filters": [
          {
            "Key": "InstanceIds",
            "Values.$": "States.Array($.instanceId)"
          }
        ]
      },
      "ResultPath": "$.ssm",
      "Next": "IsSSMOnline"
    },
    "IsSSMOnline": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.ssm.InstanceInformationList",
              "IsPresent": false
            },
            {
              "Variable": "$.ssm.InstanceInformationList[0]",
              "IsPresent": false
            }
          ],
          "Next": "DescribeSSMFail"
        },
        {
          "Variable": "$.ssm.InstanceInformationList[0].PingStatus",
          "StringEquals": "Online",
          "Next": "CheckGameServer"
        }
      ],
      "Default": "InvalidSSMStatus"
    },
    "CheckGameServer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/is_online.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "WaitForCommand"
    },
    "WaitForCommand": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "GetCommandResult"
    },
    "GetCommandResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.command.Command.CommandId",
        "InstanceId.$": "$.instanceId"
      },
      "ResultPath": "$.commandResult",
      "Next": "IncrementGameServerCheck"
    },
    "IncrementGameServerCheck": {
      "Type": "Pass",
      "Parameters": {
        "val.$": "States.MathAdd($.meta.gameServerChecks.val, 1)"
      },
      "ResultPath": "$.meta.gameServerChecks",
      "Next": "CheckGameServerOutput"
    },
    "CheckGameServerOutput": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.commandResult.StandardOutputContent",
          "StringEquals": "offline",
          "Next": "StopInstance"
        },
        {
          "And": [
            {
              "Variable": "$.commandResult.StandardOutputContent",
              "StringEquals": "online"
            },
            {
              "Variable": "$.meta.stopGameServerCommandSent.val",
              "BooleanEquals": false
            }
          ],
          "Next": "StopGameServer"
        },
        {
          "Variable": "$.meta.gameServerChecks.val",
          "NumericGreaterThanEquals": 10,
          "Next": "FailGameServerTimeout"
        }
      ],
      "Default": "WaitGameServerOffline"
    },
    "WaitGameServerOffline": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "CheckGameServer"
    },
    "StopGameServer": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:sendCommand",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)",
        "DocumentName": "AWS-RunShellScript",
        "Parameters": {
          "commands": [
            "/opt/stop_server.sh"
          ]
        }
      },
      "ResultPath": "$.command",
      "Next": "SetGameServerStopSent"
    },
    "SetGameServerStopSent": {
      "Type": "Pass",
      "Parameters": {
        "val": true
      },
      "ResultPath": "$.meta.stopGameServerCommandSent",
      "Next": "WaitGameServerOffline"
    },
    "StopInstance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:stopInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.instanceId)"
      },
      "ResultPath": "$.ec2",
      "Next": "Success"
    }
  }
}